services:
  app:
    build:
      context: .
    container_name: pokemon_app
    ports:
      - "8000:8080"  # Backend
      - "3000:80"    # Frontend
    env_file:
      - backend/.env
    networks:
      - pokemon-network
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: pokemon_db
    ports:
      - "27017:27017"
    networks:
      - pokemon-network
    volumes:
      - mongodb_data:/data/db

networks:
  pokemon-network:
    driver: bridge

volumes:
  mongodb_data: